<% layout('layout') -%>

<script>
$(document).ready(function(){
    init();
});
</script>

<div class="title">
  <h1><%= title %></h1>
</div>



<div id="wrapper">
    <div class="containerInner">

        <!--<div class="engines">
            <span class="yt-button-group">
            <span id="cmdAuto" class="yt-button yt-button_view_togglebox" title="Use this search engine">
                <input id="chkAutoDir" type="checkbox">
                <span class="yt-button__text">YANDEX</span>
                <span class="yt-button__icon"></span>
            </span>

            <span id="cmdAuto" class="yt-button yt-button_view_togglebox" title="Use this search engine">
                <input id="chkAutoDir" type="checkbox">
                <span class="yt-button__text">GOOGLE</span>
                <span class="yt-button__icon"></span>
            </span>

             <span id="cmdAuto" class="yt-button yt-button_view_togglebox" title="Use this search engine">
                <input id="chkAutoDir" type="checkbox">
                <span class="yt-button__text">BING</span>
                <span class="yt-button__icon"></span>
            </span>

        </span>

         </div>-->

        <div class="search" id="myform">   
         <textarea autofocus="autofocus" id="demo" cols="80" rows="8" class="inputArea" placeholder="Type a query..."></textarea>
        </div>
        <div id="spinner">
            <!--show load info-->
        </div>
        <div class="submit-btn">
          <button class="pure-button" href="#" id="getit" style='margin:auto;'>Make an attempt!</button>
          <button class="pure-button" href="#" id="clearBtn" style='margin:auto;'>Clear</button>
        </div>


            <h3>Debug information</h3>
			<div id="response"></div>

    </div>


</div>




