<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spellah</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="javascripts/jquery-ui.min.js"></script>
    <script src="javascripts/jquery.highlighttextarea.min.custom.js"></script>

    <script src="javascripts/spellah_lib.js"></script>


    <link rel="stylesheet" href="stylesheets/jquery-ui.min.css">
    <link rel="stylesheet" href="stylesheets/jquery.highlighttextarea.min.css">
    <link rel="stylesheet" href="stylesheets/pure-min.css">
    <link rel="canonical" href="http://spellah.eveel.ru/" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
