.inputArea
{
	font-size: 1.1em;
    font-weight: normal;
    background: white;
    border: 0px;
    font-family: "DDG_ProximaNova","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
}

.search
{
    background-color: #FFFFFF;
    border: 1px solid #CCCDC8;
}